@model HeaderSlider

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title : @Model.Title</h4>
                        <h4 class="card-title">SubTitle : @Model.TitleH2</h4>
                        <h4 class="card-title">Description : @Model.Description</h4>
                        <h4 class="card-title">Image : <img src="~/assets/img/slider/@Model.Image" alt="@Model.Image" style="width: 200px; height: 200px"/></h4>
                        <p>
                            Order : @Model.Order
                        </p>
                    </div>
                    <div class="card-body">
                        <h4 class="text-danger">Do You Want To Delete This Slider Item?</h4>
                        <form method="post" asp-controller="HomeHeaderSlider" asp-action="Delete">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button class="btn btn-primary" asp-action="Index" asp-controller="HomeHeaderSlider">Cancel</button>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

