@model HeaderSlider

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <a asp-action="Index" asp-controller="HomeHeaderSlider" class="btn btn-primary">Back</a>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title : @Model.Title</h4>
                        <h4 class="card-title">SubTitle : @Model.TitleH2</h4>
                        <h4 class="card-title">Description : @Model.Description</h4>
                        <h4 class="card-title">Image : <img src="~/assets/img/slider/@Model.Image" alt="@Model.Image" style="width: 200px; height: 200px"/></h4>
                        <p>
                            Order : @Model.Order
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
