@model Teacher

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <a asp-action="Index" class="btn btn-primary mb-2 tex-white">Back</a>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@Model.Name </h3>
                        <p><span>@Model.About</span></p>
                        <p>
                            Academic Rank : @Model.AcademicRanking
                        </p>

                        <p>
                            Degree : @Model.Degree.Name
                        </p>
                        <p>Experience : @Model.Experience years</p>

                        <p>Hobbies : @Model.Hobbies</p>
                            
                        <div class="card-body">
                            <h4 class="text-danger card-title mb-2 mt-2">Do You Want To Delete This Teacher?</h4>
                            <form method="post" asp-controller="Teacher" asp-action="Delete">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <button class="btn btn-primary text-white" asp-action="Index" asp-controller="Teacher">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Related Categories:</h4>
                        <ul>
                            @foreach (var category in Model.TeacherCategories)
                            {
                                <li>@category.Category.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="card-body">
                           <h4 class="card-title">Skills:</h4>
                           <ul>
                               <li>Communication: @Model.TeacherSkills.Communication%</li>
                               <li>Design: @Model.TeacherSkills.Design%</li>
                               <li>Development: @Model.TeacherSkills.Development%</li>
                               <li>Innovation: @Model.TeacherSkills.Innovation%</li>
                               <li>Language: @Model.TeacherSkills.Language%</li>
                               <li>TeamLeader: @Model.TeacherSkills.TeamLeader%</li>
                           </ul>
                       </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Image:</h4>
                        <img src="~/assets/img/teacher/@Model.Image" alt="@Model.Name" class="img-fluid"/>
                    </div>
                    <div class="card-body">
                        <h4>Contact:</h4>
                        <p>Mail : @Model.Mail</p>
                        <p>Skype : @Model.Skype</p>
                        <p>Phone : @Model.Phone</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>