@model Event

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <a asp-action="Index" class="btn btn-primary mb-2 tex-white">Back</a>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@Model.Name </h3>
                        
                        <p class="mt-2">About: <strong>@Model.About</strong></p>
                        
                        <p class="mt-2">
                            TIme : @Model.Time
                        </p>

                        <p class="mt-2">
                            Date : @Model.Date.ToString("dd, MMM yyyy")
                        </p>
                        <p class="mt-2">Venue : @Model.Venue    </p>

                      
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Related Categories:</h4>
                        <ul>
                            @foreach (var category in Model.EventCategories)
                            {
                                <li>@category.Category.Name</li>
                            }
                        </ul>
                    </div>
                    
                    <div class="card-body">
                        <h4 class="text-danger card-title mb-2 mt-2">Do You Want To Delete This Teacher?</h4>
                        <form method="post" asp-controller="Event" asp-action="Delete">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button class="btn btn-primary text-white" asp-action="Index" asp-controller="Event">Cancel</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Image:</h4>
                        <img src="~/assets/img/event/@Model.Image" alt="@Model.Name" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>